/*
font-family: 'Caveat', cursive;
font-family: 'Pacifico', cursive;
*/

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin: 0;
    background-image: url(images/back.png);
    background-size: cover;
}

#main {
    display: grid;
    grid-template-rows: 0.5fr 1.8fr 1fr;
    align-items: center;
}

#main * {
    text-align: center;
}

p {
    font-size: 2em;
    font-family: 'Pacifico', cursive;
    color: #3f0088;
    margin: 0;
    padding: 0;
}

#head {
    font-size: 3.8em;
}

form {
    display: block;
}

input {
    width: 20em;
    font: 1.7em 'Caveat', cursive;
    margin-top: 0.1em;
    background-color: rgba(255, 255, 255, 0.5);
    border: 0.09em solid #3f0088;
}

button {
    margin: 1em;
    background-color: rgba(255, 255, 255, 0.5);
    border: 0.1em solid #3f0088;
    border-radius: 1em;
    font-family: 'Caveat', cursive;
    font-size: 1.7em;
    color: #3f0088;
}

#game {
    margin: 0;
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    grid-template-rows: 1fr;
}

#word {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

#image {
    background-image: url("images/1.png");
    background-size: cover;
    margin-left: 2em;
    min-width: 200px;
    min-height: 200px;
    width: 300px;
    height: 300px;
}

#wordBlock {
    display: flex;
    background-color: rgba(255, 255, 255, 0.5);
    border: 0.09em solid #3f0088;
    margin: 1em;
    justify-content: center;
    align-content: center;
}

#wordBlock>* {
    margin: 5px;
}

.letters {
    font-size: 3em;
    font-family: 'Caveat', cursive;
    opacity: 0;
}

.alph {
    cursor: pointer;
    color: #3f0088;
    border: 0.09em solid #3f0088;
    border-radius: 1em;
    font-family: 'Caveat', cursive;
    font-size: 2em;
    background-color: rgba(255, 255, 255, 0.5);
}

#category,
#mistakes {
    font-size: 3em;
    font-family: 'Caveat', cursive;
    color: #3f0088;
}

.content {
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 0.4em 1.5em;
}